  <div ng-controller='FrameController'>
  	<h1>Shortly</h1>
 	<div class="navigation"> 	
      <ul>
        <li><a href="#" class="index">All Links</a></li>
        <li><a href="#/shorten" class="create">Shorten</a></li>
      </ul>
    </div>
    <div id="container" ng-view></div>
  </div>
