<html ng-app="shortlyApp">
<head>
<title>Shortly</title>
<script src="/lib/angular.js"></script>
<script src="/lib/angular-route.js"></script>
<script src="/client/app.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<%= yield %>
</body>
</html>